.wordSpell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #22252d;
  color: #fff;
  outline: none;
  
  position: relative;
  user-select: none;
}

.word {
  display: flex;
  font-size: 48px;
  letter-spacing: 8px;
  margin-bottom: 20px;
  color: #7f8596;
}

.letter {
  position: relative;
  margin: 0 10px;
  padding: 0 5px;
}

.underline {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #7f8596;
  border-radius: 2px;
}

.correct {
  color: #4caf50;
}

.incorrect {
  color: #f44336;
}

.phonetic {
  font-size: 24px;
  color: #7f8596;
  margin-bottom: 10px;
}

.meaning {
  font-size: 24px;
  color: #7f8596;
  margin-bottom: 20px;
}

.progressBar {
  width: 60%;
  height: 6px;
  background-color: #333;
  border-radius: 3px;
  margin-top: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 3px;
  transition: width 0.3s ease;
}
/* 黑色遮罩 */
.myBlack{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.modal{
  position: absolute;
  /* border: 5px solid red; */
  z-index: 9;
  width: 400px;
  height: 600px;
  
  background-color: #121418;
}
.modal img{
  width: 100%;
}
.modal .modalContent{
  padding: 0 40px;
}
.modal p{
  color: #bfbfc1;
}
.tips{
  display: flex;
  align-items: center;
  color: #9965db;
}
.tips p{
  color: #6c717f;
  margin-left: 5px;
  font-size: 14px;
}
.modal hr{
  width: 440px;
  position: relative;
  left: -40px;
  border-color: #26282f;
}
.modal .btn{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  
}
/* .modal .btn */
.modal .btn button{
  width: 161px;
  height: 50px;
}